.overall-container{
    width: 100vw;
}
.overall-main-container{
    width: 100vw;
    margin-top: 4.4%;
}

@media (max-width: 770px){
    .overall-main-container{
        width: 800px !important;
    }
}